main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 4em;
        font-weight: 400;
    }

    .interval-container {
        display: flex;
        margin: 0 40px;
        align-items: center;
    }

    .interval-length-container {
        display: flex;
    }
    .interval-length {
        font-size: 2rem;
        margin: 0 10px;
    }
    .interval-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 200;
    }
    button {
        padding: 5px 12px;
        margin: 0 10px;
        height: 30px;
        background-color: red;
        border: 1px;
        border-color: black;
        outline: none;
        cursor: pointer;
        color: white;
        border-radius: 25px;
        width: 70px;
    }
    .timer-container {
        border: 2px solid red;
        margin-top: 20px;
        border-radius: 25px;
        width: 250px;
        text-align: center;
        box-shadow: 0 2px 4px rgba($color: black, $alpha: .50);
        padding: 5px;
    }

    .timer-actions {
        margin-top: 20px;
        text-align: center;
        align-items: center;
    }
}